body {
    background-color: #2e2e2e !important;
}

a {
    text-decoration: none !important;
}
#adslides{
    height: 300px;
    overflow: hidden;
}

#adslides .carousel-caption {
    top: 20% !important;
}

.btn-circle {
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
}

#categories {
    border-color:#DD5246 !important;
}
.bg-logored{
    background-color: #DD5246 !important;
}
.border .border-logored{
    border-color: #DD5246 !important;
}
/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */
#price{
    font-size: 2rem;
}
/* ---------------------------------------------------
    MEDIA
----------------------------------------------------- */