body {
    background-color: #2e2e2e !important;
}

a {
    text-decoration: none !important;
}

#adslides {
    height: 300px;
    overflow: hidden;
}

#adslides .carousel-caption {
    top: 20% !important;
}

.btn-circle {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
}

#categories {
    border-color: #DD5246 !important;
}

.text-logored {
    color: #DD5246 !important;
}

.bg-logored {
    background-color: #DD5246 !important;
}

.border .border-logored {
    border-color: #DD5246 !important;
}

/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */
#price {
    font-size: 2rem;
}

.popover-body {
    background-color: #212529 !important;
    border-color: #DD5246 !important;
}

.btn-logo {
    font-size: 24px;
    line-height: 1.33;
    color: #fff !important;
    background-color: #DD5246 !important;
    border-color: #FF3333;
}

.btn-logo:hover {
    color: #fff !important;
    background-color: rgb(177, 69, 59) !important;
    border-color: rgb(177, 69, 59);
}

.btn-logo .focus,
.btn-logo:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 51, 51, .5) !important;
}

.btn-logo.disabled,
.btn-logo:disabled {
    color: #fff !important;
    background-color: #DD5246 !important;
    border-color: #FF3333;
}

.btn-logo:not(:disabled):not(.disabled).active,
.btn-logo:not(:disabled):not(.disabled):active,
.show>.btn-logo .dropdown-toggle {
    color: #fff !important;
    background-color: #DD5246;
    border-color: #FF3333;
}

.btn-logo:not(:disabled):not(.disabled).active:focus,
.btn-logo:not(:disabled):not(.disabled):active:focus,
.show>.btn-logo .dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 51, 51, .5) !important;
}

.noselect {
    -webkit-touch-callout: none !important;
    /* iOS Safari */
    -webkit-user-select: none !important;
    /* Safari */
    -khtml-user-select: none !important;
    /* Konqueror HTML */
    -moz-user-select: none !important;
    /* Old versions of Firefox */
    -ms-user-select: none !important;
    /* Internet Explorer/Edge */
    user-select: none !important;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

/* ---------------------------------------------------
    MEDIA
----------------------------------------------------- */